# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

ContractHash*.kt
ProtoHash*.kt
io.provenance.scope.contract.contracts.ContractHash
io.provenance.scope.contract.proto.ProtoHash
